<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  <iframe src="https://mediastream.microsoft.com/events/2019/1909/DotNetConf/player/DotNetConf.html?cid=synd=owandir.github.io" 
  border="0" frameborder="0" scrolling="no" width="1920" height="1080" allowfullscreen style="overflow:hidden"></iframe>
</body>
</html>